.container {
  padding: 0 2rem;
}

.main {
  margin: auto;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
  margin: 30px auto;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.toolbar {
  height: 60px;

  a {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.logo {
  height: 100%;
  object-fit: cover;
  padding: 12px 0;
  margin-right: 12px;
}

.slider {
  height: 600px;
}

.phoneDetail {
  display: flex;
  width: 80%;
  height: auto;
  margin-top: 56px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 24px;
}

.phoneDetail h1 {
  font-size: 1.5em;
  font-weight: 600;
}

.phoneDetail p {
  font-size: 0.8em;
}

.phoneCreate {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.phoneForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}
